/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

.page-title {
  border-bottom: 2px solid #dbdbdb;
  max-width: fit-content;
  margin: 20px auto 0;
  padding-bottom: 12px;
  font-size: 36px;
  font-weight: bold;
}

button:disabled {
    opacity: 0.35;
}

h2, h3, h4 {
  font-weight: 600 !important;
}
code {
  color: green;
}