.lesson-header-image {
  background-image: url("../../../assets/book.gif");
  background-size: cover;
}

.lesson-card {

}

iframe {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 200px);
}

.back-to-lesson-button {
  position: absolute;
  top: 100px;
  button {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    cursor: pointer;
    span {
        text-decoration: underline;
    }
    .mat-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }
  }
}
