<div class="page-title">
    Hacker playground
</div>

<div class="back-to-lesson-button">
    <button type="button" routerLink="/lesson">
        <mat-icon>replay_circle_filled</mat-icon>
       <span> Back to lesson list</span>
    </button>
</div>

<div class="playground-container mt-9 flex flex-nowrap gap-10">
    <mat-card class="lesson-card w-52">
        <mat-card-content>
            <div [innerHTML]="steps | markdown"></div>
        </mat-card-content>
    </mat-card>
    <div class="lesson-content flex-1">
        <iframe src="https://localhost:9020/vnc.html" >
        </iframe>
    </div>
</div>