.box-container {
    box-shadow: 0px 6px 8px 2px #ababab;
    min-width: 200px;
    .box-title {
      background: #3b82f6;
      padding: 12px 24px;
      color: white;
      font-size: 18px;
      text-align: center;
      display: flex;
      align-items: center;
      span {
        text-decoration: underline;
      }
      cursor: pointer;
    }

  }
  